* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9d9898;
}
.dateAndTime{
    max-width: 500px;
    padding: 40px;
    scale: 0.60;
    display: flex;
    background: transparent;
    border: 2px dashed #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time {
    padding: 10px;
    background-color: #fff;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time .timeBox{
    background-color: #dcdcdc;
}
.cdate{
    padding: 10px;
    background-color: #fff;
    /* margin: 5px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}
div span {
    background-color: #dcdcdc;
    padding: 5px 10px;
}

.hour,
.minutes,
.second {
    width: 50px;
    background: transparent;
    letter-spacing: 2px;
    padding: 5px 15px;  
    font-size: 50px;

}

.colon {
    width: 10px;
    background: transparent;
    font-size: 58px;
    animation: blink 1s infinite;
    position: relative;
    bottom: 3px;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.apb {
    width: 60px;
    background-color: #4a3bf2;
    padding: 5px 8px;
    color: #fff;
    border-radius: 3px;
    font-size: 20px;
    scale: 0.50;
    font-weight: bold;
    position: relative;
    bottom: 5px;
    right: 5px;
}

.am-pm {
    width: 50px;
    background: transparent;
    padding: 5px 6px;
    font-size: 50px;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.cdate{
    font-size: 30px;
    width: 490px;
    /* position: relative;
    right: 8px; */
}
.space{
    width: 20px;
    height: 53px;
}
.space2{
    width: 0px;
    height: 60px;
}
.day{
    width: 150px;
    text-align: center;
}
.month{
    text-align: center;
    width: 150px;
}
.year{
    text-align: center;
    width: 80px;
}
